Repository ValentinVignal/flutter_packages: changes, and which Codecov flags are due for each by the changed paths.
All: animated_collection, animated_location, imperative_page_routes, riverpod_state_provider_generator, static_json_serializable_generator

Support markers
  packages/markdown_lite/lib/src/ast_node.dart
  packages/markdown_lite/lib/src/parser.dart
Due: none

Fix missing text in paragraphs
  packages/markdown_lite/lib/src/parser.dart
Due: none

Fix performances with code block
  packages/markdown_lite/lib/src/ast_node.dart
  packages/markdown_lite/lib/src/parser.dart
  packages/markdown_lite/test/markdown_lite_test.dart
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
Due: none

Support autolinks
  packages/markdown_lite/lib/src/ast_node.dart
  packages/markdown_lite/lib/src/parser.dart
Due: none

Add markdown_lite_editor and fix top padding
  packages/markdown_lite_editor/.gitignore
  packages/markdown_lite_editor/.metadata
  packages/markdown_lite_editor/CHANGELOG.md
  packages/markdown_lite_editor/LICENSE
  packages/markdown_lite_editor/README.md
  packages/markdown_lite_editor/analysis_options.yaml
  packages/markdown_lite_editor/lib/markdown_lite_editor.dart
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
  packages/markdown_lite_editor/lib/src/text_field.dart
  packages/markdown_lite_editor/lib/src/utils/iterable.dart
  packages/markdown_lite_editor/pubspec.yaml
Due: none

Fix duplicated >
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
Due: none

Add checkbox style
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
Due: none

Allow - [] as checkbox
  packages/markdown_lite/lib/src/parser.dart
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
Due: none

open links
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
  packages/markdown_lite_editor/lib/src/text_field.dart
  packages/markdown_lite_editor/pubspec.yaml
Due: none

Open link through context menu
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
  packages/markdown_lite_editor/lib/src/text_field.dart
Due: none

Add links preview
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
Due: none

bigger thumbnails
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
Due: none

Link example
  packages/markdown_lite_editor/lib/src/link_preview.dart
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
  packages/markdown_lite_editor/pubspec.yaml
Due: none

Menu to copy link
  packages/markdown_lite_editor/lib/src/text_field.dart
Due: none

Add copy code
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
  packages/markdown_lite_editor/lib/src/text_field.dart
Due: none

Copy quote
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
  packages/markdown_lite_editor/lib/src/text_field.dart
Due: none

Do not display host
  packages/markdown_lite_editor/lib/src/link_preview.dart
Due: none

More colors
  packages/markdown_lite_editor/lib/src/link_preview.dart
  packages/markdown_lite_editor/lib/src/text_editing_controller.dart
Due: none

Upgrade to new version of analyzer
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

Update changelog
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
Due: static_json_serializable_generator

Upgrade to flutter 3.41
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/selective_ignore_pointer/example/pubspec.lock
Due: none

Fix linter
  packages/static_json_serializable/static_json_serializable_generator/lib/src/static_json_serializable_generator.dart
Due: static_json_serializable_generator

Update to flutter riverpod 4.0.0
  packages/riverpod_state_provider/riverpod_state_provider_annotation/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_annotation/lib/riverpod_state_provider_annotation.dart
  packages/riverpod_state_provider/riverpod_state_provider_annotation/lib/src/helper.dart
  packages/riverpod_state_provider/riverpod_state_provider_annotation/pubspec.yaml
Due: none

Update riverpod_state_provider_generator
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/lib/src/riverpod_state_provider_generator.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/family_test.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/int_test.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/family.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/family.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/int.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/int.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/list.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/list.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/list_test.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/utils.dart
Due: riverpod_state_provider_generator

Update examples
  packages/riverpod_state_provider/examples/counter/lib/main.g.dart
  packages/riverpod_state_provider/examples/counter/lib/main.rsp.dart
  packages/riverpod_state_provider/examples/counter/macos/Runner.xcodeproj/project.pbxproj
  packages/riverpod_state_provider/examples/counter/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/examples/counter/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/pubspec.yaml
Due: riverpod_state_provider_generator

2.0.0
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/riverpod_state_provider_annotation/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_annotation/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/pubspec.yaml
Due: riverpod_state_provider_generator

:rocket: static_json_serializable_generator 0.3.0
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

Upgrade melos
  pubspec.lock
  pubspec.yaml
Due: none

Upgrade to flutter 3.44
  .gitignore
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/selective_ignore_pointer/example/pubspec.lock
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
Due: none

Upgrade to flutter 3.44.5
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
Due: none

Upgrade to analyzer 9.0.0
  packages/static_json_serializable/static_json_serializable_generator/.gitignore
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

:rocket: static_json_serializable_generator 0.3.1
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/examples/color_palette_example/pubspec.yaml
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

Upgrade to analyzer 10.0.0
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

:rocket: static_json_serializable_generator 0.3.2
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

melos bs
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
Due: none

Upgrade to analyzer 11
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

:rocket: static_json_serializable_generator 0.3.3
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/examples/color_palette_example/pubspec.yaml
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

Upgrade to analyzer 12
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

:rocket: static_json_serializable_generator 0.3.4
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/examples/color_palette_example/pubspec.yaml
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

Path conditions:
  animated_collection: any of: packages/animated_collection/
  animated_location: any of: packages/animated_collection/lib/src/widgets/animated_location
  imperative_page_routes: any of: packages/imperative_page_routes/
  riverpod_state_provider_generator: any of: packages/riverpod_state_provider/riverpod_state_provider_generator/
  static_json_serializable_generator: any of: packages/static_json_serializable/static_json_serializable_generator/
