Repository ValentinVignal/flutter_packages: changes, and which Codecov flags are due for each by the changed paths.
All: animated_collection, animated_location, imperative_page_routes

codecov.yaml:

# cspell:ignore carryforward

flags:
  animated_collection:
    paths:
      - packages/animated_collection/
    carryforward: false
  animated_location:
    paths: 
      - packages/animated_collection/lib/src/widgets/animated_location
    carryforward: false

codecov.yml:

# cspell:ignore carryforward

comment:
  layout: "reach, diff, flags, files"

flags:
  animated_collection:
    paths:
      - packages/animated_collection/
    carryforward: true
  imperative_page_routes:
    paths:
      - packages/imperative_page_routes/
    carryforward: true

coverage:
  status:
    project:
      animated_collection: 
        flags:
          - animated_collection
      imperative_page_routes:
        flags:
          - imperative_page_routes

:rocket: 0.2.3
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/examples/counter/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_generator/pubspec.yaml
Due: none

:fire: Remove deprecated proxy provider
  packages/riverpod_state_provider/riverpod_state_provider_annotation/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_annotation/lib/riverpod_state_provider_annotation.dart
  packages/riverpod_state_provider/riverpod_state_provider_annotation/lib/src/helper.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/lib/src/riverpod_state_provider_generator.dart
Due: none

:memo: Update example
  packages/riverpod_state_provider/examples/counter/lib/main.dart
  packages/riverpod_state_provider/examples/counter/lib/main.g.dart
  packages/riverpod_state_provider/examples/counter/lib/main.rsp.dart
Due: none

:white_check_mark: Update the tests
  packages/riverpod_state_provider/riverpod_state_provider_generator/.gitignore
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/.gitignore
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/family_test.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/int_test.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/family.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/family.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/int.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/int.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/list.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/list.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/list_test.dart
Due: none

:sparkles: Add StateProviderFor on the generated class
  packages/riverpod_state_provider/examples/counter/lib/main.g.dart
  packages/riverpod_state_provider/examples/counter/lib/main.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/lib/src/riverpod_state_provider_generator.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/family.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/family.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/int.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/int.rsp.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/list.g.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/test/integration/list.rsp.dart
Due: none

:rocket: 1.0.0
  packages/riverpod_state_provider/examples/counter/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_annotation/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_annotation/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/pubspec.yaml
  packages/riverpod_state_provider/riverpod_state_provider_generator/pubspec.yaml
Due: none

test: Add leak testing
  packages/imperative_page_routes/pubspec.yaml
  packages/imperative_page_routes/test/flutter_test_config.dart
Due: imperative_page_routes

Fix memory leak
  packages/animated_collection/lib/src/widgets/animated_location/animated_location_scope.dart
Due: animated_collection, animated_location

Add tests
  packages/animated_collection/pubspec.yaml
  packages/animated_collection/test/flutter_test_config.dart
  packages/animated_collection/test/widgets/animated_location/animated_location_test.dart
Due: animated_collection

:memo: Update changelog
  packages/animated_collection/CHANGELOG.md
Due: animated_collection

:rocket: 1.2.1
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
  packages/riverpod_state_provider/examples/counter/pubspec.lock
Due: animated_collection

Support riverpod generator 2.6.5
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/pubspec.yaml
  pubspec.lock
Due: none

Adds AnimatedVisibility.builder
  packages/animated_collection/lib/src/widgets/animated_visibility.dart
Due: animated_collection

Update the tests
  packages/animated_collection/test/widgets/animated_visibility_test.dart
Due: animated_collection

Update changelog
  packages/animated_collection/CHANGELOG.md
Due: animated_collection

Update files in example
  packages/animated_collection/example/.gitignore
  packages/animated_collection/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/animated_collection/example/macos/Runner/AppDelegate.swift
Due: animated_collection

:rocket: 1.3.0
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:tada: static_json_serializable_annotation
  packages/static_json_serializable/static_json_serializable_annotation/.gitignore
  packages/static_json_serializable/static_json_serializable_annotation/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_annotation/LICENSE
  packages/static_json_serializable/static_json_serializable_annotation/README.md
  packages/static_json_serializable/static_json_serializable_annotation/analysis_options.yaml
  packages/static_json_serializable/static_json_serializable_annotation/lib/src/static_json_serializable_annotation.dart
  packages/static_json_serializable/static_json_serializable_annotation/lib/static_json_serializable_annotation.dart
  packages/static_json_serializable/static_json_serializable_annotation/pubspec.yaml
Due: none

:tada: Create static_json_serializable_generator
  packages/static_json_serializable/static_json_serializable_generator/.gitignore
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/LICENSE
  packages/static_json_serializable/static_json_serializable_generator/README.md
  packages/static_json_serializable/static_json_serializable_generator/analysis_options.yaml
  packages/static_json_serializable/static_json_serializable_generator/build.yaml
  packages/static_json_serializable/static_json_serializable_generator/lib/src/static_json_serializable_generator.dart
  packages/static_json_serializable/static_json_serializable_generator/lib/static_json_serializable_generator.dart
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
  packages/static_json_serializable/static_json_serializable_generator/test/ensure_build_test.dart
  packages/static_json_serializable/static_json_serializable_generator/test/integration/integration.dart
  packages/static_json_serializable/static_json_serializable_generator/test/integration/integration.g.dart
  packages/static_json_serializable/static_json_serializable_generator/test/integration_test.dart
Due: none

Update readme
  packages/static_json_serializable/static_json_serializable_generator/README.md
Due: none

Fix code spelling issues
  packages/static_json_serializable/examples/color_palette_example/pubspec.yaml
Due: none

Fix test timeout
  packages/static_json_serializable/examples/color_palette_example/test/ensure_build_test.dart
  packages/static_json_serializable/static_json_serializable_generator/test/ensure_build_test.dart
Due: none

Fix tests
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/riverpod_state_provider_generator/integration/build_yaml/lib/main.rsp.dart
Due: none

Add static_json_serializable_generator to codecov
  codecov.yml
Due: none

Update changelog
  packages/static_json_serializable/static_json_serializable_annotation/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
Due: none

Update pubspec
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: none

:arrow_up: Bump version
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_annotation/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_annotation/pubspec.yaml
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: none

Update to static_json_serializable_annotation 0.1.0
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: none

Do not depend on material when possible
  packages/animated_collection/lib/animated_collection.dart
  packages/animated_collection/lib/src/ticker_future.dart
  packages/animated_collection/lib/src/widgets/animated_appearing.dart
  packages/animated_collection/lib/src/widgets/animated_boolean.dart
  packages/animated_collection/lib/src/widgets/animated_flex.dart
  packages/animated_collection/lib/src/widgets/animated_location/controller.dart
  packages/animated_collection/lib/src/widgets/animated_size_transition.dart
  packages/animated_collection/lib/src/widgets/animated_visibility.dart
Due: animated_collection, animated_location

Add animated value and color
  packages/animated_collection/lib/src/widgets/animated_color.dart
  packages/animated_collection/lib/src/widgets/animated_value.dart
  packages/animated_collection/test/widgets/animated_color_test.dart
Due: animated_collection

Update the documentation
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/README.md
  packages/animated_collection/doc/animated-color.gif
  packages/animated_collection/example/lib/main.dart
  packages/animated_collection/example/pubspec.yaml
  packages/animated_collection/pubspec.yaml
Due: animated_collection

Fix spelling
  cspell.json
Due: none

Update animated_collection to 1.4.0
  README.md
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

Handle null colors
  packages/animated_collection/lib/src/widgets/animated_color.dart
Due: animated_collection

Add test
  packages/animated_collection/test/flutter_test_config.dart
  packages/animated_collection/test/widgets/animated_color_test.dart
Due: animated_collection

Update the documentation
  packages/animated_collection/CHANGELOG.md
Due: animated_collection

Update animated_collection to 1.4.1
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

Fix time signature
  packages/animated_collection/lib/src/widgets/animated_color.dart
  packages/animated_collection/lib/src/widgets/animated_value.dart
Due: animated_collection

Update doc
  packages/animated_collection/CHANGELOG.md
Due: animated_collection
