Repository ValentinVignal/flutter_packages: changes, and which Codecov flags are due for each by the changed paths.
All: animated_collection, animated_location

:green_heart: Rename into codecov.yml
  codecov.yml
Due: none

:alembic: Use carryforward
  codecov.yml
Due: none

Set up codecov projects
  codecov.yml
Due: none

:alembic: Only use real project
  codecov.yml
Due: none

:fire: Remove coverage
  packages/animated_collection/coverage/lcov.info
Due: animated_collection

:see_no_evil: Ignore coverage
  .gitignore
Due: none

:memo: Update readme
  packages/animated_collection/README.md
Due: animated_collection

:memo: Add melos badge
  README.md
Due: none

:alembic: Remove cspell ignore
  codecov.yml
Due: none

:alembic: Remove carryforward
  codecov.yml
Due: none

:green_heart: Add flag to ci
  .github/workflows/commit.yaml
  .github/workflows/pull_request.yaml
Due: none

:wrench: Add back carry forward
  codecov.yml
Due: none

:memo: Codecov badge
  packages/animated_collection/README.md
Due: animated_collection

:truck: Rename AnimatedBooleanState to AnimatedBoolean
  packages/animated_collection/README.md
  packages/animated_collection/lib/src/widgets/animated_boolean.dart
  packages/animated_collection/test/widgets/animated_boolean_test.dart
Due: animated_collection

:wrench: Add license and update pubspec info
  LICENSE
  cspell.json
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/LICENSE
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:bug: Fix export
  packages/animated_collection/lib/animated_collection.dart
Due: animated_collection

[animated_collection] :memo: Add license
  packages/animated_collection/LICENSE
Due: animated_collection

[animated_collection] :rocket: 0.0.1
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/README.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:package: Update pubspec.lock
  packages/animated_collection/example/pubspec.lock
Due: animated_collection

:bug: Use AnimatedVisibility duration
  packages/animated_collection/lib/src/widgets/animated_visibility.dart
Due: animated_collection

:white_check_mark: Add tests
  packages/animated_collection/test/widgets/animated_visibility_test.dart
Due: animated_collection

:memo: Update changelog
  packages/animated_collection/CHANGELOG.md
Due: animated_collection

[animated_collection] :rocket: 0.0.2
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/example/pubspec.lock
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:arrow_up: melos 5
  pubspec.lock
  pubspec.yaml
Due: none

:arrow_up: Upgrade to flutter 3.19
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/example/pubspec.lock
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:fire: Removes TightSizeTransition
  packages/animated_collection/lib/src/widgets/tight_size_transition.dart
Due: animated_collection

:recycle: Update the code
  packages/animated_collection/lib/src/widgets/animated_size_transition.dart
  packages/animated_collection/lib/src/widgets/animated_visibility.dart
Due: animated_collection

:rotating_light: Fix linter
  packages/animated_collection/lib/src/widgets/animated_location/render.dart
  packages/animated_collection/lib/src/widgets/animated_visibility.dart
Due: animated_collection, animated_location

:white_check_mark: Update the tests
  packages/animated_collection/test/widgets/animated_location/animated_location_test.dart
Due: animated_collection

:memo: Update version constraints and changelog
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:rocket: 1.0.0
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/example/pubspec.lock
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:tada: Create imperative_page_routes
  packages/imperative_page_routes/.gitignore
  packages/imperative_page_routes/.metadata
  packages/imperative_page_routes/CHANGELOG.md
  packages/imperative_page_routes/LICENSE
  packages/imperative_page_routes/README.md
  packages/imperative_page_routes/analysis_options.yaml
  packages/imperative_page_routes/lib/imperative_page_routes.dart
  packages/imperative_page_routes/pubspec.yaml
Due: none

:sparkles: Add bottom sheet, drawer and dialog pages
  packages/imperative_page_routes/lib/imperative_page_routes.dart
  packages/imperative_page_routes/lib/src/bottom_sheet_page.dart
  packages/imperative_page_routes/lib/src/dialog_page.dart
  packages/imperative_page_routes/lib/src/drawer_page.dart
Due: none

:memo: Update change log
  packages/imperative_page_routes/CHANGELOG.md
Due: none

:green_heart: Upgrade ci
  .github/workflows/commit.yaml
  .github/workflows/pull_request.yaml
Due: none

:green_heart: Add codecov flag
  codecov.yml
Due: none

:rotating_light: Fix cspell
  cspell.json
Due: none

:memo: Add coverage list to main read me
  README.md
Due: none

:truck: animated_collection_example
  packages/animated_collection/example/.gitignore
  packages/animated_collection/example/.metadata
  packages/animated_collection/example/README.md
  packages/animated_collection/example/android/app/build.gradle
  packages/animated_collection/example/android/app/src/main/AndroidManifest.xml
  packages/animated_collection/example/android/app/src/main/kotlin/com/example/animated_collection_example/MainActivity.kt
  packages/animated_collection/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  packages/animated_collection/example/android/build.gradle
  packages/animated_collection/example/android/gradle.properties
  packages/animated_collection/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/animated_collection/example/android/settings.gradle
  packages/animated_collection/example/ios/Flutter/AppFrameworkInfo.plist
  packages/animated_collection/example/ios/Runner.xcodeproj/project.pbxproj
  packages/animated_collection/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/animated_collection/example/ios/Runner/Info.plist
  packages/animated_collection/example/linux/CMakeLists.txt
  packages/animated_collection/example/linux/my_application.cc
  packages/animated_collection/example/macos/Runner.xcodeproj/project.pbxproj
  packages/animated_collection/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/animated_collection/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/animated_collection/example/pubspec.lock
  packages/animated_collection/example/pubspec.yaml
  packages/animated_collection/example/web/index.html
  packages/animated_collection/example/web/manifest.json
  packages/animated_collection/example/windows/CMakeLists.txt
  packages/animated_collection/example/windows/flutter/CMakeLists.txt
  packages/animated_collection/example/windows/runner/Runner.rc
  packages/animated_collection/example/windows/runner/main.cpp
Due: animated_collection

Path conditions:
  animated_collection: any of: packages/animated_collection/
  animated_location: any of: packages/animated_collection/lib/src/widgets/animated_location
