Repository ValentinVignal/flutter_packages: changes, and which Codecov flags are due for each by the changed paths.
All: animated_collection, animated_location, imperative_page_routes

codecov.yaml:

# cspell:ignore carryforward

flags:
  animated_collection:
    paths:
      - packages/animated_collection/
    carryforward: false
  animated_location:
    paths: 
      - packages/animated_collection/lib/src/widgets/animated_location
    carryforward: false

codecov.yml:

# cspell:ignore carryforward

comment:
  layout: "reach, diff, flags, files"

flags:
  animated_collection:
    paths:
      - packages/animated_collection/
    carryforward: true
  imperative_page_routes:
    paths:
      - packages/imperative_page_routes/
    carryforward: true

coverage:
  status:
    project:
      animated_collection: 
        flags:
          - animated_collection
      imperative_page_routes:
        flags:
          - imperative_page_routes

:fire: Remove test
  packages/imperative_page_routes/example/test/widget_test.dart
Due: imperative_page_routes

:white_check_mark: Add tests
  packages/imperative_page_routes/test/bottom_sheet_page_test.dart
  packages/imperative_page_routes/test/dialog_page_test.dart
  packages/imperative_page_routes/test/drawer_page_test.dart
Due: imperative_page_routes

:rocket: imperative_route_page 0.0.0
  packages/imperative_page_routes/CHANGELOG.md
Due: imperative_page_routes

:memo: Use deployed version in example
  packages/imperative_page_routes/example/pubspec.yaml
Due: imperative_page_routes

:memo: Longer package description
  packages/imperative_page_routes/README.md
  packages/imperative_page_routes/pubspec.yaml
Due: imperative_page_routes

:memo: Update changelog
  packages/imperative_page_routes/CHANGELOG.md
Due: imperative_page_routes

:rocket: imperative_page_routes 0.0.1
  packages/imperative_page_routes/CHANGELOG.md
  packages/imperative_page_routes/pubspec.yaml
Due: imperative_page_routes

:green_heart: Fix codecov
  .github/workflows/commit.yaml
  .github/workflows/pull_request.yaml
Due: none

:bug: Fix codecov badge
  README.md
  packages/imperative_page_routes/README.md
Due: imperative_page_routes

:arrow_down: Accept flutter 3.16
  packages/imperative_page_routes/pubspec.yaml
Due: imperative_page_routes

:rocket: imperative_page_routes 0.0.2
  packages/imperative_page_routes/CHANGELOG.md
  packages/imperative_page_routes/pubspec.yaml
Due: imperative_page_routes

:fire: Ignore pubspec overrides
  packages/animated_collection/example/pubspec_overrides.yaml
  packages/imperative_page_routes/example/pubspec_overrides.yaml
Due: animated_collection, imperative_page_routes

:see_no_evil: Ignore pubspec overrides
  .gitignore
Due: none

:recycle: Make default location internal
  packages/animated_collection/lib/src/widgets/animated_size_transition.dart
  packages/animated_collection/lib/src/widgets/animated_visibility.dart
  packages/animated_collection/lib/src/widgets/duration.dart
  packages/animated_collection/pubspec.yaml
  packages/animated_collection/test/widgets/animated_visibility_test.dart
Due: animated_collection

:sparkles: Add AnimatedAppearing
  packages/animated_collection/lib/animated_collection.dart
  packages/animated_collection/lib/src/widgets/animated_appearing.dart
Due: animated_collection

:white_check_mark: Add a test for AnimatedAppearing
  packages/animated_collection/test/widgets/animated_appearing_test.dart
Due: animated_collection

:memo: Update example to showcase AnimatedAppearing
  packages/animated_collection/example/lib/main.dart
  packages/imperative_page_routes/example/pubspec.lock
Due: animated_collection, imperative_page_routes

:memo: Update version number
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:fire: Remove pubspec.lock from examples
  packages/animated_collection/example/pubspec.lock
  packages/imperative_page_routes/example/pubspec.lock
Due: animated_collection, imperative_page_routes

:see_no_evil: Ignore pubspec.lock in examples
  packages/animated_collection/example/.gitignore
  packages/imperative_page_routes/example/.gitignore
Due: animated_collection, imperative_page_routes

:arrow_up: Upgrade animated_collection version number in example
  packages/animated_collection/example/pubspec.yaml
Due: animated_collection

:memo: Update README
  packages/animated_collection/README.md
Due: animated_collection

:sparkles: Add animated flex
  packages/animated_collection/lib/animated_collection.dart
  packages/animated_collection/lib/src/widgets/animated_flex.dart
Due: animated_collection

:memo: Update the documentation
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/README.md
Due: animated_collection

:memo: Update the example
  packages/animated_collection/example/lib/main.dart
Due: animated_collection

:white_check_mark: Update the tests
  packages/animated_collection/test/widgets/animated_flex_test.dart
Due: animated_collection

:memo: Add gif for animated collection
  packages/animated_collection/docs/animated-appearing.gif
  packages/animated_collection/docs/animated-boolean.gif
  packages/animated_collection/docs/animated-expanded.gif
  packages/animated_collection/docs/animated-location.gif
  packages/animated_collection/docs/animated-visibility.gif
Due: animated_collection

:memo: Update readme with animated collection videos
  packages/animated_collection/README.md
Due: animated_collection

:rocket: animated_collection 1.2.0
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/example/pubspec.yaml
  packages/animated_collection/pubspec.yaml
Due: animated_collection

:truck: docs to doc
  packages/animated_collection/README.md
  packages/animated_collection/doc/animated-appearing.gif
  packages/animated_collection/doc/animated-boolean.gif
  packages/animated_collection/doc/animated-expanded.gif
  packages/animated_collection/doc/animated-location.gif
  packages/animated_collection/doc/animated-visibility.gif
Due: animated_collection

:fire: Clean example pubspec.yaml
  packages/animated_collection/example/pubspec.yaml
Due: animated_collection

👽️ adds popGestureEnabled (flutter 3.22.0)
  packages/imperative_page_routes/lib/src/drawer_page.dart
Due: imperative_page_routes

♻️ changes popGestureEnabled to always return false
  packages/imperative_page_routes/lib/src/drawer_page.dart
Due: imperative_page_routes

📝 updates changelog
  packages/imperative_page_routes/CHANGELOG.md
Due: imperative_page_routes

🔧 updates min versions
  packages/imperative_page_routes/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: imperative_page_routes

:rocket: imperative_page_routes 0.1.0
  packages/imperative_page_routes/CHANGELOG.md
  packages/imperative_page_routes/pubspec.yaml
Due: imperative_page_routes

:sparkles: Make DrawerPageRoute public
  packages/imperative_page_routes/lib/src/drawer_page.dart
Due: imperative_page_routes

:rocket: imperative_page_route 0.2.0
  packages/imperative_page_routes/CHANGELOG.md
  packages/imperative_page_routes/pubspec.yaml
Due: imperative_page_routes
