Repository ValentinVignal/flutter_packages: changes, and which Codecov flags are due for each by the changed paths.
All: animated_collection, animated_location, imperative_page_routes, riverpod_state_provider_generator, static_json_serializable_generator

codecov.yaml:

# cspell:ignore carryforward

flags:
  animated_collection:
    paths:
      - packages/animated_collection/
    carryforward: false
  animated_location:
    paths: 
      - packages/animated_collection/lib/src/widgets/animated_location
    carryforward: false

codecov.yml:

# cspell:ignore carryforward

comment:
  layout: "reach, diff, flags, files"

flags:
  animated_collection:
    paths:
      - packages/animated_collection/
    carryforward: true
  imperative_page_routes:
    paths:
      - packages/imperative_page_routes/
    carryforward: true
  riverpod_state_provider_generator:
    paths:
      - packages/riverpod_state_provider/riverpod_state_provider_generator/
    carryforward: true
  static_json_serializable_generator:
    paths:
      - packages/static_json_serializable/static_json_serializable_generator/
    carryforward: true

coverage:
  status:
    project:
      animated_collection: 
        flags:
          - animated_collection
      imperative_page_routes:
        flags:
          - imperative_page_routes
      riverpod_state_provider_generator:
        flags:
          - riverpod_state_provider_generator
      static_json_serializable_generator:
        flags:
          - static_json_serializable_generator

Add AnimatedDouble
  packages/animated_collection/lib/animated_collection.dart
  packages/animated_collection/lib/src/widgets/animated_double.dart
  packages/animated_collection/lib/src/widgets/value_wrapper.dart
Due: animated_collection

Order imports
  packages/animated_collection/lib/src/widgets/animated_appearing.dart
  packages/animated_collection/lib/src/widgets/animated_location/controller.dart
Due: animated_collection, animated_location

Add test
  packages/animated_collection/test/widgets/animated_double_test.dart
Due: animated_collection

Update changelog
  packages/animated_collection/CHANGELOG.md
Due: animated_collection

:rocket: animated_collection 1.5.0
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

Add support for final fields
  packages/static_json_serializable/static_json_serializable_generator/lib/src/static_json_serializable_generator.dart
Due: static_json_serializable_generator

Update dev dependencies
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

Update the tests
  packages/static_json_serializable/static_json_serializable_generator/test/integration/const_only.dart
  packages/static_json_serializable/static_json_serializable_generator/test/integration/const_only.g.dart
  packages/static_json_serializable/static_json_serializable_generator/test/integration/integration.g.dart
  packages/static_json_serializable/static_json_serializable_generator/test/integration_test.dart
Due: static_json_serializable_generator

Update changelog
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
Due: riverpod_state_provider_generator

Upgrade examples to flutter 3.35
  packages/riverpod_state_provider/examples/counter/lib/main.dart
  packages/riverpod_state_provider/examples/counter/lib/main.g.dart
  packages/riverpod_state_provider/examples/counter/lib/main.rsp.dart
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/examples/counter/pubspec.yaml
  packages/riverpod_state_provider/examples/counter/test/widget_test.dart
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/examples/color_palette_example/pubspec.yaml
Due: none

static_json_serializable_generator 0.2.0
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: riverpod_state_provider_generator, static_json_serializable_generator

Update .lock
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
Due: none

Fix AnimatedValue when the first value is null
  packages/animated_collection/lib/src/widgets/animated_color.dart
  packages/animated_collection/lib/src/widgets/animated_value.dart
  packages/animated_collection/lib/src/widgets/value_wrapper.dart
Due: animated_collection

Reuse AnimatedDouble
  packages/animated_collection/lib/src/widgets/animated_boolean.dart
Due: animated_collection

Update the tests
  packages/animated_collection/test/widgets/animated_color_test.dart
  packages/animated_collection/test/widgets/animated_value_test.dart
Due: animated_collection

Add documentation
  packages/animated_collection/CHANGELOG.md
Due: animated_collection

:rocket: animated_collection 1.5.1
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

Use Matrix4.translateByDouble
  packages/animated_collection/lib/src/widgets/animated_location/layer.dart
  packages/animated_collection/pubspec.yaml
Due: animated_collection, animated_location

:rocket: animated_collection 1.5.2
  packages/animated_collection/CHANGELOG.md
  packages/animated_collection/pubspec.yaml
Due: animated_collection

Add example
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_annotation/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_annotation/example/README.md
  packages/static_json_serializable/static_json_serializable_annotation/pubspec.yaml
Due: none

Add example
  packages/riverpod_state_provider/riverpod_state_provider_annotation/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_annotation/example/README.md
  packages/riverpod_state_provider/riverpod_state_provider_annotation/lib/src/helper.dart
Due: none

:rocket: riverpod_state_provider_annotation 1.0.1
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/riverpod_state_provider_annotation/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_annotation/pubspec.yaml
Due: none

Add example
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/example/README.md
Due: static_json_serializable_generator

:rocket: static_json_serializable_generator
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
  packages/static_json_serializable/static_json_serializable_generator/CHANGELOG.md
  packages/static_json_serializable/static_json_serializable_generator/pubspec.yaml
Due: static_json_serializable_generator

Add example
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/example/README.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/lib/src/riverpod_state_provider_generator.dart
  packages/riverpod_state_provider/riverpod_state_provider_generator/pubspec.yaml
Due: riverpod_state_provider_generator

:rocket: riverpod_state_provider_generator 1.0.2
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/riverpod_state_provider/riverpod_state_provider_generator/CHANGELOG.md
  packages/riverpod_state_provider/riverpod_state_provider_generator/pubspec.yaml
Due: riverpod_state_provider_generator

Add selective ignore pointer package
  packages/selective_ignore_pointer/.gitignore
  packages/selective_ignore_pointer/.metadata
  packages/selective_ignore_pointer/analysis_options.yaml
  packages/selective_ignore_pointer/lib/selective_ignore_pointer.dart
  packages/selective_ignore_pointer/lib/src/selective_ignore_pointer.dart
  packages/selective_ignore_pointer/pubspec.yaml
Due: none

Add tests
  packages/selective_ignore_pointer/test/selective_ignore_pointer_test.dart
Due: none

Add documentation
  README.md
  codecov.yml
  packages/selective_ignore_pointer/CHANGELOG.md
  packages/selective_ignore_pointer/LICENSE
  packages/selective_ignore_pointer/README.md
Due: none

Fix spelling issues
  packages/selective_ignore_pointer/example/pubspec.yaml
Due: none

Update to flutter 3.38
  packages/riverpod_state_provider/examples/counter/pubspec.lock
  packages/selective_ignore_pointer/example/pubspec.lock
  packages/static_json_serializable/examples/color_palette_example/pubspec.lock
Due: none

Initial commit of markdown_lite
  cspell.json
  packages/markdown_lite/.gitignore
  packages/markdown_lite/CHANGELOG.md
  packages/markdown_lite/LICENSE
  packages/markdown_lite/README.md
  packages/markdown_lite/analysis_options.yaml
  packages/markdown_lite/example/markdown_lite_example.dart
  packages/markdown_lite/lib/markdown_lite.dart
  packages/markdown_lite/lib/src/markdown_lite.dart
  packages/markdown_lite/pubspec.yaml
  packages/markdown_lite/test/markdown_lite_test.dart
Due: none

Parse markdown
  packages/markdown_lite/README.md
  packages/markdown_lite/example/markdown_lite_example.dart
  packages/markdown_lite/lib/src/ast_node.dart
  packages/markdown_lite/lib/src/markdown_lite.dart
  packages/markdown_lite/lib/src/parser.dart
  packages/markdown_lite/test/markdown_lite_test.dart
Due: none

Add pretty print AST
  packages/markdown_lite/lib/src/markdown_lite.dart
  packages/markdown_lite/lib/src/utils.dart
Due: none

Fix line breaks
  packages/markdown_lite/lib/src/ast_node.dart
  packages/markdown_lite/lib/src/parser.dart
Due: none

Allow nesting of nodes
  packages/markdown_lite/lib/src/ast_node.dart
  packages/markdown_lite/lib/src/parser.dart
  packages/markdown_lite/lib/src/utils.dart
Due: none

support nested styles
  packages/markdown_lite/lib/src/parser.dart
Due: none

Fix nesting in lists
  packages/markdown_lite/lib/src/ast_node.dart
  packages/markdown_lite/lib/src/parser.dart
Due: none
